  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(image/background.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
}
.container{
    width: 100vw;
    display: flex;
    justify-content:center;
    
}
.container h1{
    color:#130f40;
    margin-left: 20px;
    cursor: pointer;
    margin: 25px 0;
    box-shadow: 0 0 10px #2c3e50;
  font-size: 40px;
}
.navbar{
    display: flex;
    justify-content: end;
    margin-right: 5px;
}
.navbar ul li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color: #2d3436;
    padding: 4px;
    transition: all 0.5s;
  font-size:28px
}
.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset;
     color: white;
     border-radius: 12px;
}
.navbar ul .active{
    box-shadow: 0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset,0 3px 50px orangered inset;
    border-radius: 12px;
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    user-select:none;
}
.content .cont h3{
    color: white;
    text-shadow: 0 0 5px #1abc9c,
    0 0 20px #1abc9c,
    0 0 30px #1abc9c,
    0 0 60px #1abc9c,
    0 0 100px #1abc9c,
    0 0 120px #1abc9c;
    margin-bottom: 20px;
    text-align: center;
}
.content .cont h1{
    color: white;
    text-shadow: 0 0 5px #3498db,
    0 0 20px #3498db,
    0 0 30px #3498db,
    0 0 60px #3498db,
    0 0 100px #3498db,
    0 0 120px #3498db;

}
.type{
    font-size: 25px;
    margin-top: 70px;
    margin-left: 30px;
    font-weight: 500;
    color: white;
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid teal;
    animation: typing  8s  2;
    text-shadow: 0 0 5px #c0392b,
    0 0 30px #c0392b,
    0 0 50px #c0392b,
    0 0 75px #c0392b,
    0 0 100px #c0392b,
    0 0 120px #c0392b,
    0 0 140px #013329;
}
@keyframes typing{
    0%{
        width:och;
    }
    50%{
        width:32ch;
    }
}









/*file:///C:/Users/ELCOT/Desktop/chapati/image/ch_pic-0.jpeg */
